{% extends 'base.html' %}

{% block content %}
<h1>About Us</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis iste sapiente facilis sequi repudiandae molestias quaerat quidem sunt magnam tempore dolorem esse ab quisquam odit eveniet maiores temporibus repellat, blanditiis, corrupti pariatur at voluptas eaque quibusdam. Dolore
    necessitatibus, officiis dolorum ea ullam alias ex adipisci veniam nisi impedit? Cumque eligendi accusantium sed dolor officiis dolore earum tenetur laudantium minima non repudiandae voluptates minus fugiat ad labore odit molestias, veniam sint nesciunt quo, eum qui doloremque. Nisi eligendi
    eaque incidunt porro maiores, omnis rem adipisci blanditiis illum ducimus dolore consequatur, qui quidem? Nemo recusandae obcaecati architecto, ad tempora a temporibus molestiae.
</p>
{% endblock content %}